.env
*.pyc
.DS_Store
docs/_build
MANIFEST
.coverage
coverage.xml
*.db
dist/
.cache/
revision.txt
version.json
htmlcov
.bash_history
.docker-build
.python_history
hack.*py
.pytest_cache/
.cache/
docsvenv
